<%- include("header") -%>


    <%- include("nav") -%>


<div class="mid-part">
    
    <div class="help-article">
      <h1 style="font-family:Tahoma">
        How to convert?</h1><br>
<div class="image-step">
  <p>
    Find the video on YouTube that you want to convert to MP3.</p>
  <img src="steps-image\step-1.JPG" alt="step-1">
</div>

<div class="image-step">
  <p>
    Copy the link ID of the video from the address bar on your web browser.
  </p>
  <img src="steps-image\step-2.JPG" alt="step-2">
  
</div>
<div class="image-step">
  <p>
    Go to ConvertU site that allows you to convert YouTube videos to MP3 and Paste the copied link ID into the text box. </p>
  <img src="steps-image\step-3.JPG" alt="step-3">
  
</div>

<div class="image-step">
  <p>
    Initiate the conversion process by clicking on the Convert.
  </p>
  <img src="steps-image\step-4.JPG" alt="step-4">
  
</div>
      <div class="image-step">
  <p>
    The website will then process the video and provide you with a download link for the MP3 file. </p>
  <img src="steps-image\step-5.JPG" alt="step-5">
        
      </div>
    
  </div>


<%- include("footer") -%>
