   
    <nav class="navbar">
        <div class="nav-brand"> <a href="/">ConvertU</a> </div>     
        <div class="nav_list">
            <ul class="nav-item">
                <li style="font-size: 20px;"> <a method="post" href="/about">About</a> </li>
                <li style="font-size: 20px;"><a method="post" href="/help">Help</a> </li>
          </ul>
          <div class="menu_btn"></div>
          <div class="active_menu">
            <div class="menu">
                <li style="font-size: 20px;"> <a method="post" href="/about">About</a> </li>
                <li style="font-size: 20px;"><a method="post" href="/help">Help</a> </li>
                
            </div>
          </div>
        </div>
      </nav>